* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    user-select: none;
}

body {
    width: 100%;
    height: auto;
    background: #fafafb !important;
    font-size: 0.95em;
    overflow: hidden;
    font-family: "DM Sans";
}